<h2>Empresa Excluida com Sucesso!</h2>

<button type="button" class="btn btn-primary" onclick="Voltar()">Listagem de Empresa</button>

<script>

    function Voltar() {
        window.location.href = '../../Empresas/Index';
    }
</script>