<h2>Excluir Empresa</h2>

<h3>Deseja realmente excluir a empresa selecionado ?</h3>

<button type="button" class="btn btn-danger" onclick="Nao()">Não</button>
<button type="button" class="btn btn-success" onclick="Sim()">Sim</button>

<script>
    function Sim()
    {
        window.location.href = '../../Empresas/ExcluirEmpresa/' + '@ViewData["IdExcluir"].ToString()';
    }

    function Nao() {
        window.location.href = '../../Empresas/Index'
    }
</script>