<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Sistema Educacional</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
        .vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content {
    /* width: calc(100% - 17rem);
    transition: all 0.4s;*/
}

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

.separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}

.nav-link {
    text-transform: capitalize;
}

    .nav-link:hover {
        background: #f3f2f2;
    }

.text-primary {
    /*  color: #7579e7 !important;*/
}

@*@media {
  #sidebar {
     margin-left: -17rem;
    }

  #sidebar.active {
      margin-left: 0;
  }
}*@

</style>
</head>
<body style="margin:0;padding:0;" onload="CarregaUsuarioLogado()">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
              @*  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sistema Educacional</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <div id="NomeUsuarioLogado"></div>

                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>*@

                    </ul>
                    @using Microsoft.AspNetCore.Http
                    @inject IHttpContextAccessor HttpContextAccessor
                </div>
            </div>
        </nav>
    </header>
    <div class="vertical-nav bg-white" @*id="sidebar"*@ style="position:fixed;" >
        <div class="py-4 px-3 mb-4 bg-light">
            <div class="media d-flex align-items-center">
                @*<img loading="lazy" src="~/images/bruna1.jpg" alt="..." width="80" height="80" class="mr-3 rounded-circle img-thumbnail shadow-sm">*@
                <div class="media-body">
                    <h4 class="m-0">Sistema Educacional</h4>
                    <p class="font-weight-normal text-muted mb-0"></p>
                </div>
            </div>
        </div>

        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>

        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a href="../Home/Index" class="nav-link text-dark bg-light">
                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    home
                </a>
            </li>
            <li class="nav-item">
                <a href="../Empresas/Index" class="nav-link text-dark">
                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                    about
                </a>
            </li>
            <li class="nav-item">
                <a href="../Instituicao/Index" class="nav-link text-dark">
                    <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                    services
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-dark">
                    <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                    Gallery
                </a>
            </li>
        </ul>

        <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Charts</p>

        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a href="#" class="nav-link text-dark">
                    <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                    area charts
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-dark">
                    <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                    bar charts
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-dark">
                    <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
                    pie charts
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-dark">
                    <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
                    line charts
                </a>
            </li>
        </ul>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 Sistema Educacional - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script>
        function CarregaUsuarioLogado()
        {
            var nome = '@HttpContextAccessor.HttpContext.Session.GetString("NomeUsuarioLogado")'
            if (nome != "") //Usuario logado
            {
                var divNome = document.getElementById("NomeUsuarioLogado");
                divNome.innerHTML = "Olá " + nome + "<a href='../Home/Login/0'> Sair</a>";
                divNome.style = "color:#343A40";
            }
            else  //Usuario não logado
            {
                window.location.href = '../Home/Login';
            }
        }
    </script>
</body>
</html>
