<h2>Curso Excluido com Sucesso!</h2>

<button type="button" class="btn btn-primary" onclick="Voltar()">Listagem de Cursos</button>

<script>

    function Voltar() {
        window.location.href = '../../Curso/Index';
    }
</script>