<h2>Instituição Excluida com Sucesso!</h2>

<button type="button" class="btn btn-primary" onclick="Voltar()">Listagem de Instituições</button>

<script>

    function Voltar() {
        window.location.href = '../../Instituicao/Index';
    }
</script>