/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content {
    /* width: calc(100% - 17rem);
    transition: all 0.4s;*/
}

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

.separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}

.nav-link {
    text-transform: capitalize;
}

    .nav-link:hover {
        background: #f3f2f2;
    }

.text-primary {
    /*  color: #7579e7 !important;*/
}

@media {
    #sidebar {
        margin-left: -17rem;
    }

        #sidebar.active {
            margin-left: 0;
        }
}
body{
    margin:0;
    padding:0;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.choices {
    padding: 50px;
    position: center;
}

.choice {
    text-align: center;
    margin: 15px;
    display: inline-block;
    text-decoration: none;
    background-color: #DCDCDC;
    padding: 25px;
    color: #808080;
    width: 190px;
    height: 190px;
    line-height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 3px 4px 4px rgba(0,0,0,0.29);
    border-bottom: solid 3px #808080;
    transition: .4s;
    text-wrap: inherit;
    font-family: 'Carrois Gothic SC', sans-serif;
}

    .choice:active {
        transform: translateY(2px);
        -ms-transform: translateY(2px);
        -webkit-transform: translateY(2px);
        box-shadow: 0 0 1px rgba(0,0,0,0.15);
    }

