<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="~/css/site.css" />
<link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap" rel="stylesheet">
<style>
    .choices {
         padding: 50px;
         position:center;
    }
    .choice {
         text-align: center;
         margin: 15px;
         display: inline-block;
         text-decoration: none;
         background-color: #DCDCDC;
         padding: 25px;
         color: #808080;
         width: 190px;
         height: 190px;
         line-height: 20px;
         border-radius: 50%;
         vertical-align: middle;
         overflow: hidden;
         box-shadow: 3px 4px 4px rgba(0,0,0,0.29);
         border-bottom: solid 3px #808080;
         transition: .4s;
         text-wrap: inherit;
         font-family: 'Carrois Gothic SC', sans-serif;
    }
    .choice:active {
         transform: translateY(2px);
         -ms-transform: translateY(2px);
         -webkit-transform: translateY(2px);
         box-shadow: 0 0 1px rgba(0,0,0,0.15);
    }
</style>
<div class="container">
    <div class="choices btn btn-group-toggle">
        <div class="choice">
            <a href=""><img src="~/images/matricula.png" alt="" /></a>
            <label>Matrículas</label>
        </div>
        <div class="choice">
            <a href="../Empresas/Index"><img src="~/images/empresa2.png" alt="" /></a>
            <label>Empresas</label>
        </div>
        <div class="choice">
            <a href=""><img src="~/images/Grades2.png" alt="" /></a>
            <label>Grades Curriculares</label>
        </div>
        <div class="choice">
            <a href=""><img src="~/images/estudante.png" alt="" /></a>
            <label>Estudantes</label>
        </div>
        <div class="choice">
            <a href=""><img src="~/images/curso.png" alt="" /></a>
            <label>Cursos</label>
        </div>
        <div class="choice">
            <a href=""><img src="~/images/insti.png" alt="" /></a>
            <label>Instituições</label>
        </div>
        <div class="choice ">
            <a href=""><img src="~/images/diciplinas.png" alt="" /></a>
            <label>Disciplinas</label>
        </div>
        <div class="choice ">
            <a href=""><img src="~/images/etapas.png" alt="" /></a>
            <label>Etapas</label>
        </div>
        <div class="choice ">
            <a href=""><img src="~/images/turmas.png" alt="" /></a>
            <label>Turmas</label>
        </div>
        <div class="choice">
            <a href=""><img src="~/images/periodos.png" alt="" /></a>
            <label>Períodos</label>
        </div>
    </div>
</div>
